{% load static from staticfiles %}


<script>
    $(document).ready(function() {
        $.getJSON("{% url 'auth-visit-comments' visit_id=visit.id %}", function(data) {
            populateVisitComments(data.data);
        });

        function populateVisitComments(comments) {
            if (comments.length == 0) {
                return;
            }

            $('ul.talk > li').not('.template-element').remove();

            for(var ind = 0; ind < comments.length; ind++) {
                var c = comments[ind];
                var tmpl_el = $('ul.talk > li.template-element');


                var comment_el = $(tmpl_el)
                        .clone()
                        .appendTo('ul.talk')
                        .removeClass('hidden')
                        .removeClass('template-element');

                console.log(c);
                $(comment_el).children('.name').text(c.author_name);
                $(comment_el).children('.time').text(c.created);
                $(comment_el).children('.message').text(c.text);
            }
            var commentsBlock = $('ul.talk');
            commentsBlock.scrollTop(commentsBlock[0].scrollHeight);
        };

        $("#chat-form")
                .submit(function(event) {
                    event.preventDefault();

                    addComment();
                })
                .find('button').click(function(event) {
                    event.preventDefault();

                    addComment();
                });

        function addComment() {
            var text = $("#chat-form").find("#chat-input").val();
            console.log(text);
            if (text) {
                $.post("{% url 'auth-visit-comments' visit_id=visit.id %}", $("#chat-form").serialize())
                        .done(function(data) {
                            populateVisitComments(data.data);
                            $("#chat-form").find("#chat-input").val('');
                        });
            }
        };
    });
</script>

<div class="row">
    <div class="col-lg-12">
        <div class="box chat chat-full noOverflow">
            <div class="box-header">
                <h2><i class="fa fa-list"></i>Message History</h2>
            </div>
            <div class="conversation">
                <ul class="talk">
                    <li class="hidden template-element">
                        <img class="avatar" src="{% static '/vendor/simpliq2/assets/img/placeholder.png' %}" alt="avatar">
                        <span class="name"></span>
                        <span class="time"></span>
                        <div class="message"></div>
                    </li>
                    <li id="talk-prompt" style="padding: 15px 10px 10px 10px;">
                        <p class="text-center">No messages yet. You can add a message by putting it into the text box below and pressing enter.</p>
                    </li>
                </ul>
                <form role="form" id="chat-form">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="input-group input-group-lg" style="margin:10px;">
                                <input id="chat-input" type="text" name="text" class="form-control" required placeholder="Write Message - Press Enter to Submit"/>
                                {% csrf_token %}
                                <div class="input-group-btn">
                                    <button type="submit" class="btn">Submit</button>
                                </div><!-- /btn-group -->
                            </div><!-- /input-group -->
                        </div><!-- /.col-xs-12 -->
                    </div><!-- /.row -->
                </form>
            </div>
        </div>
    </div><!--/col-->
</div>