{% load filters %}
{% load static from staticfiles %}

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header" data-original-title>
                <h2><i class="fa fa-user"></i><span class="break"></span>Bio</h2>
            </div>
            <div class="box-content">
                <table class="table table-striped">
                    <thead>
                    </thead>
                    <tbody>
                    <tr>
                        <td>Name</td>
                        <td>{{ visit.patient.first_name }} {{ visit.patient.middle_name }} {{ visit.patient.last_name }}</td>
                        <td>Birth Date</td>
                        <td>{{ visit.patient.birth_date }} ({{ age }} years old)</td>
                    </tr>
                    <tr>
                        <td>Gender</td>
                        <td>{{ visit.patient.gender }} </td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Email</td>
                        <td>
                            {% if visit.patient.email %}
                                {{ visit.patient.email }}
                            {% else %}
                                {{ visit.patient.user.email }}
                            {% endif %}
                        </td>
                        <td>Phone</td>
                        <td>{{ visit.patient.phone }}</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td colspan="3">
                            {{ visit.patient.city }}, {{ visit.patient.state }} {{ visit.patient.zipcode }}
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div><!--/col-->
</div><!--/row-->

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header" data-original-title>
                <h2><i class="fa fa-user"></i><span class="break"></span>Medical History</h2>
            </div>
            <div class="box-content">
                <div class="form-group">
                    {{ medical_record_form.has_allergies.label_tag }}
                    {% if medical_record_form.has_allergies.value %}
                        <div>{{ medical_record_form.has_allergies.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ medical_record_form.medicines_taken.label_tag }}
                    {% if medical_record_form.medicines_taken.value %}
                        <div>{{ medical_record_form.medicines_taken.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ medical_record_form.surgical_procedures.label_tag }}
                    {% if medical_record_form.surgical_procedures.value %}
                        <div>{{ medical_record_form.surgical_procedures.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ medical_record_form.receiving_treatments.label_tag }}
                    {% if medical_record_form.receiving_treatments.value %}
                        <div>{{ medical_record_form.receiving_treatments.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ medical_record_form.has_predisposition.label_tag }}
                    {% if medical_record_form.has_predisposition.value %}
                        <div>{{ medical_record_form.has_predisposition.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ medical_record_form.body_weight.label_tag }}
                    <div>{{ medical_record_form.body_weight.value }}</div>
                </div>

                <div class="form-group">
                    {{ medical_record_form.employment_status.label_tag }}
                    <div>{{ medical_record_form | selected_choice:"employment_status" }}</div>
                </div>

                <div class="form-group">
                    {{ medical_record_form.lifestyle_factors.label_tag }}
                    <div>
                        {% for choice_id, choice_label in medical_record_form.lifestyle_factors.field.choices %}
                            {% if choice_id in medical_record_form.initial.lifestyle_factors %}
                                <input type="checkbox" value="{{ choice_id }}" checked disabled> {{ choice_label }}<br>
                            {% else %}
                                <input type="checkbox" value="{{ choice_id }}" disabled> {{ choice_label }}<br>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    {{ medical_record_form.skin_type.label_tag }}
                    <div>{{ medical_record_form | selected_choice:"skin_type" }}</div>
                </div>
            </div>
        </div>
    </div><!--/col-->
</div><!--/row-->

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header" data-original-title>
                <h2><i class="fa fa-list"></i><span class="break"></span>Condition Information</h2>
            </div>
            <div class="box-content">
                <div class="form-group">
                    {{ condition_description_form.description.label_tag }}
                    <div>{{ condition_description_form.description.value }}</div>
                </div>

                <div class="form-group">
                    {{ condition_description_form.symptoms.label_tag }}
                    <div>
                        {% for choice_id, choice_label in condition_description_form.symptoms.field.choices %}
                            {% if choice_id in condition_description_form.initial.symptoms %}
                                <input type="checkbox" value="{{ choice_id }}" checked disabled> {{ choice_label }}<br>
                            {% else %}
                                <input type="checkbox" value="{{ choice_id }}" disabled> {{ choice_label }}<br>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    {{ condition_description_form.symptoms_severity.label_tag }}
                    <div>{{ condition_description_form.symptoms_severity.value }}</div>
                </div>

                <div class="form-group">
                    {{ condition_description_form.condition_duration_days.label_tag }}
                    <div>{{ condition_description_form.condition_duration_days.value }}</div>
                </div>

                <div class="form-group">
                    {{ condition_description_form.condition_duration_months.label_tag }}
                    <div>{{ condition_description_form.condition_duration_months.value }}</div>
                </div>

                <div class="form-group">
                    {{ condition_description_form.condition_duration_years.label_tag }}
                    <div>{{ condition_description_form.condition_duration_years.value }}</div>
                </div>

                <div class="form-group">
                    {{ condition_description_form.aggravator.label_tag }}
                    {% if condition_description_form.has_predisposition.value %}
                        <div>{{ condition_description_form.has_predisposition.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ condition_description_form.prior_treatment.label_tag }}
                    {% if condition_description_form.prior_treatment.value %}
                        <div>{{ condition_description_form.prior_treatment.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ condition_description_form.suspected_changes.label_tag }}
                    {% if condition_description_form.suspected_changes.value %}
                        <div>{{ condition_description_form.suspected_changes.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ condition_description_form.additional_information.label_tag }}
                    {% if condition_description_form.additional_information.value %}
                        <div>{{ condition_description_form.additional_information.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ condition_description_form.affected_body_parts.label_tag }}
                </div>
            </div>
        </div>
    </div><!--/col-->
</div><!--/row-->

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header" data-original-title>
                <h2><i class="fa fa-camera"></i><span class="break"></span>Photos</h2>
            </div>
            <div class="box-content">
                <div class="row">
                    {% for photo in photos %}
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="{% url 'photo-proxy' photo_id=photo.id %}" alt="Body part image">
                            </div>
                            <div class="caption">
                                <h3><strong>{{ photo.body_part.name }}</strong></h3>

                                <p>{{ photo.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div><!--/col-->
</div><!--/row-->

{% include "auth/common/visit/message-history.html" %}

