<div class="modal fade" id="pharmacyModal">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Pharmacy Search</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12">
                        <form id="zipForm"
                              data-fv-framework="bootstrap"
                              data-fv-icon-valid="glyphicon glyphicon-ok"
                              data-fv-icon-invalid="glyphicon glyphicon-remove"
                              data-fv-icon-validating="glyphicon glyphicon-refresh">
                            <div class="form-group">
                                <div class="input-group">
                                    <input type="text" class="form-control zip-input" name="zipcode"
                                           placeholder="ZIP code"
                                           required="required"
                                           data-fv-zipcode="true"
                                           data-fv-zipcode-country="US"
                                           data-fv-zipcode-message="The value is not valid %s postal code">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default search-zip-btn" type="submit">Search</button>
                                    </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <table id="pharmacyTable" class="table"></table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary btn-select">Select</button>
            </div>
        </div>
    </div>
</div>

<style>
    .has-feedback .form-control-feedback {
        top: 0;
        right: -30px;
    }

    .form-group.has-error,
    .form-group.has-success {
        margin-right: 15px;
    }

    .pagination > li.active {
        display: inline;
    }

    table.dataTable tbody tr.selected {
        background-color: #B0BED9;
    }

    .dataTables_filter input {
        margin-left: 8px;
    }

    #pharmacyModal .modal-footer {
        margin-top: 0;
    }
</style>

<script type="text/template" id="pharmacyDetailsDemplate">
    <p id="pharmacyDetail"><%- pharmacy.StoreName %><br />
    <%- pharmacy.Address1 %><br />
    <%- pharmacy.City %>, <%- pharmacy.State %> <%- pharmacy.ZipCode %><br /></p>
</script>

<script type="text/javascript">
    $(document).ready(function () {
        var pharmacyDetailsTemplate = _.template($('#pharmacyDetailsDemplate').html());

        var zipForm = $('#zipForm');

        zipForm.formValidation()
                .on('success.form.fv', function (e) {
                    e.preventDefault();
                    e.stopPropagation();
                    $.getJSON('{% url 'patient-pharmacy-search' %}', zipForm.serialize(), function (data) {
                        table.clear().rows.add(data.Pharmacy).draw();

                        $('.search-zip-btn').removeAttr('disabled').removeClass('disabled');
                    });
                });

        var tableElem = $('#pharmacyTable');
        var table = tableElem.DataTable({
            info: false,
            lengthChange: false,
            language: {
                search: 'Name:'
            },
            columns: [
                {data: 'StoreName', title: 'Pharmacy Name'},
                {
                    data: function (row, type, val, meta) {
                        return row.Address1 + '</br>' + (row.Address2 || '');
                    },
                    title: 'Address',
                    searchable: false
                },
                {data: 'PrimaryPhone', title: 'Phone', searchable: false}
            ],
            rowCallback: function (row, data) {
                $(row).attr('data-id', data.PharmacyId);
            }
        });

        tableElem.find('tbody').on('click', 'tr', function () {
            if (!$(this).hasClass('selected')) {
                table.$('tr.selected').removeClass('selected');
                $(this).addClass('selected');
            }
        });

        $('.btn-select').click(function () {
            var selectedRow = table.$('tr.selected');
            if (selectedRow.length > 0) {
                var data = table.row(selectedRow).data();

                $.post('{% url 'patient-visit-pharmacy' %}', {'preferred_pharmacy_id': data.PharmacyId}, function () {
                    var pharmacyIdElem = $('[id*=pharmacy_id]');
                    $('#pharmacyDetail').remove();
                    pharmacyIdElem.after(pharmacyDetailsTemplate({pharmacy: data}));
                    pharmacyIdElem.val(data.PharmacyId);
                    $('#pharmacyModal').modal('hide');
                });
            }
        })
    });
</script>