{% extends 'auth/base.html' %}

{% load bootstrap3 %}

{% block title %}Profile Settings{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Profile Settings</h1>
    <hr/>
    <h3>Change Password</h3>
    <p><a href="{% url 'password_change' %}">Click here to change your password</a></p>
    
    <form method="post" action="
    {% if user.patientprofile %}
        {% url 'patient-profile-settings' %}
    {% else %}
        {% url 'provider-profile-settings' %}
    {% endif %}"
    	id="profilesettings-form"
    	data-fv-framework="bootstrap"
    data-fv-icon-valid="glyphicon glyphicon-ok"
    data-fv-icon-invalid="glyphicon glyphicon-remove"
    data-fv-icon-validating="glyphicon glyphicon-refresh">
    	{% csrf_token %}
        {% bootstrap_form_errors settings_form %}
        {% for field in settings_form %}
            {% if field.html_name == 'preferred_pharmacy_id' %}
                <div>
                    <h3><b>Pharmacy</b></h3>
                    <div class="form-group input-group">
                        {{ field }}
                        <button type="button" class="btn btn-default" data-toggle="modal" data-target="#pharmacyModal">Choose pharmacy</button>
                    </div>
                </div>
            {% else %}
                {% bootstrap_field field %}
            {% endif %}
        {% endfor %}
    	<button type="submit" class="btn btn-primary">Submit</button>
    </form>
    {% include 'auth/common/pharmacy_widget.html' %}
</div>
{% endblock %}
