{% extends 'auth/base.html' %}

{% block title %}Dashboard{% endblock %}

{% load bootstrap3 %}
{% load static from staticfiles %}

{% block extra_style %}
	<link href="{% static "/vendor/imagemapster/css/style.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<div class="box-header">
				<h2><i class="fa fa-edit"></i>Wizard</h2>
				<div class="box-icon">
				</div>
			</div>
			<div class="box-content">
				<div id="MyWizard" class="wizard">
					<ul class="steps">
						<li data-target="#step1" class="complete">
							<a href="{% url 'patient-visit-start' %}"><span class="badge badge-success">1</span></a>
						</li>
						<li data-target="#step2" class="active">
							<span class="badge badge-info">2</span>
						</li>
						<li data-target="#step3"><span class="badge">3</span></li>
						<li data-target="#step4"><span class="badge">4</span></li>
					</ul>
				</div>
				<div class="step-content">
					<div class="step-pane active">
						<p>Complete the fields below to tell us about the condition you are experiencing.</p>
						<form method="post" action="{% url 'patient-visit-condition' %}"
							id="medicalvisit-form"
							data-fv-framework="bootstrap"
							data-fv-icon-valid="glyphicon glyphicon-ok"
							data-fv-icon-invalid="glyphicon glyphicon-remove"
							data-fv-icon-validating="glyphicon glyphicon-refresh">
							{% csrf_token %}
							{#{% bootstrap_form condition_form %}#}
							{% for field in condition_form %}
								{% if field.html_name == 'affected_body_parts' %}
									<div class="form-group">
										{% bootstrap_label field.label %}
										<div class="body-parts-wrapper">
											<img src="{% static "/site/img/body/man_front.jpg" %}" alt="" usemap="#mapFront" class="body-parts-img" />
											<img src="{% static "/site/img/body/man_back.jpg" %}" alt="" usemap="#mapBack" class="body-parts-img" />
										</div>
										<div class="body-parts-selected">
										{% for id, val, poly, type in field.field.choices %}
											{% if id in field.value %}
												<input type="hidden" class="selected-parts" value="{{ id }}" name="{{ field.html_name }}">
											{% endif %}
										{% endfor %}
										</div>
										<map name="mapFront" id="mapFront">
											{% for id, val, poly, type in field.field.choices %}
												{% if type == 0 %}
														<area href="javascript:void(0)" shape="poly" coords="{{ poly }}" data-key="{{ id }}" data-val="{{ val }}" />
												{% endif %}
											{% endfor %}
										</map>
										<map name="mapBack" id="mapBack">
											{% for id, val, poly, type in field.field.choices %}
												{% if type == 1 %}
														<area href="javascript:void(0)" shape="poly" coords="{{ poly }}" data-key="{{ id }}" data-val="{{ val }}" />
												{% endif %}
											{% endfor %}
										</map>
										<input type="hidden" id="selectedParts" value="{{ field.value }}">
										{% if field.errors %}
											<div class="text-danger">{% for error in field.errors %}{{ error|escape }}<br/>{% endfor %}</div>
										{% endif %}
									</div>
								{% else %}
									{% bootstrap_field field %}
								{% endif %}
							{% endfor %}
							{% if override %}
								<input type="hidden" name="override" value="{{override}}">
							{% endif%}
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<script>
		$(function() {
			$('#medicalvisit-form * textarea:not([required])').each(function(el) {
				var el_name = $(this).attr('name') + '-check';
				var control_div = $(this)
					.wrap('<div class="display-control"></div>')
					.parent()
					.parent();

				var yes_btn = $('<input type="radio" data-fv-notempty data-fv-notempty-message="A choice is required."> Yes </input>')
				.click(function() {
					$(control_div).find('.display-control').show();
					$(this).next('input').attr('checked', false);
				}).attr('name', el_name).attr('value', 'yes');

				var no_btn = $('<input type="radio"> No </input>')
				.click(function() {
					$(control_div).find('.display-control').hide();
					$(control_div).find('textarea').val('');
					$(this).prev('input').attr('checked', false);
				}).attr('name', el_name).attr('value', 'no');

				var btn_control = $('<div class="button-control form-group"></div>')
					.append(yes_btn).append(no_btn);

				var override = {% if override %}true{%else%}false{%endif%};
				if($(this).val() !== '') {
					$(control_div).find('.display-control').show();
					$(yes_btn).attr('checked', true);
				} else if(override) {
					$(control_div).find('.display-control').hide();
					$(no_btn).attr('checked', true);
				} else {
					$(control_div).find('.display-control').hide();
				}


				$(control_div).children('label').after(btn_control);
			});
			$('#medicalvisit-form * textarea')
					.attr('rows', 2).attr('placeholder', 'Tell us more.');
			$('#medicalvisit-form').formValidation({
				fields: {
					duration: {
						selector: '.durationField',
						validators: {
							callback: {
								message: 'You must enter at least one item',
								callback: validateAtleastOne
												.bind(this, 'duration', function(elem) { return parseInt($(elem).val()) > 0 })
							},
							integer: {},
							notEmpty: {}
						}
					},
					symptom: {
						selector: '.symptom-field',
						validators: {
							callback: {
								message: 'You must check at least one item',
								callback: validateAtleastOne
												.bind(this, 'symptom', function(elem) { return $(elem).prop('checked') })
							}
						}
					}
				}
			});
			$('.durationField').attr('data-fv-field', 'duration');
			$('div.form-group')
				.has('#id_condition_duration_days')
				.before("<label class='control-label'>How long have you had this problem?</label>");

			var areas = [];
			$.each($('area'), function (idx, elem) {
				areas.push({
					key: ''+$(elem).data('key'),
					toolTip: $(elem).data('val')
				});
			});
			var man_imgs = $('.body-parts-img');
			man_imgs.mapster({
				fillColor: '008A2E',
				fillOpacity: 0.3,
				mapKey: 'data-key',
				showToolTip: true,
				toolTipContainer: '<div class="tooltip tooltip-inner part-tooltip"></div>',
				areas: areas
			});
			man_imgs.mapster('resize', 0, 300);
			var res = $('#selectedParts').val().split(/[\[\],]/);
			$.each(res, function(idx, elem) {
				if (elem) {
					$('area[data-key=' + elem + ']').mapster('select');
				}
			});

			$('form').submit(function() {
				var keys = getSelectedParts();
				$('.selected-parts').remove();
				$.each(keys, function(idx, elem) {
					$('<input>', {
						'type': 'hidden',
						'name': 'affected_body_parts',
						'value': elem,
						'class': 'selected-parts'
					}).appendTo($('.body-parts-selected'));
				});
			});
		});

		function getSelectedParts() {
			var res = [];
			$.each($('area'), function(idx, elem) {
				if ($(elem).mapster('get')) {
					res.push($(elem).data('key'));
				}
			});
			return res;
		}

		function validateAtleastOne(fieldName, comparator, value, validator, $field) {
			var isEmpty = true,
					$fields = validator.getFieldElements(fieldName);
			for (var i = 0; i < $fields.length; i++) {
				if (!$.isFunction(comparator) || comparator($fields.eq(i))) {
					isEmpty = false;
					break;
				}
			}

			if (!isEmpty) {
				validator.updateStatus(fieldName, validator.STATUS_VALID, 'callback');
				return true;
			}

			return false;
		}
	</script>
{% endblock %}
