{% extends 'auth/base.html' %}

{% block title %}Dashboard{% endblock %}

{% load bootstrap3 %}
{% load filters %}

{% block content %}
	<script src="https://js.braintreegateway.com/v2/braintree.js"></script>
	<script>
		braintree.setup("{{braintree_client_token}}", "dropin", {
				container: 'dropin'
		});
	</script>
<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<div class="box-header">
				<h2><i class="fa fa-edit"></i>Wizard</h2>
				<div class="box-icon">
				</div>
			</div>
			<div class="box-content">
				<div id="MyWizard" class="wizard">
					<ul class="steps">
						<li data-target="#step1" class="complete">
							<a href="{% url 'patient-visit-start' %}"><span class="badge badge-success">1</span></a>
						</li>
						<li data-target="#step2" class="complete">
							<a href="{% url 'patient-visit-condition' %}"><span class="badge badge-success">2</span></a>
						</li>
						<li data-target="#step3" class="complete">
							<a href="{% url 'patient-visit-photos' %}"><span class="badge badge-success">3</span></a>
						</li>
						<li data-target="#step4" class="active">
							<span class="badge">4</span>
						</li>
					</ul>
				</div>
				<div class="step-content">
					<div class="step-pane active">
						<p>Please confirm all the details that we've captured. You can go back and edit any details before you confirm your visit details by clicking on the steps above.</p>
<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header" data-original-title>
                <h2><i class="fa fa-user"></i><span class="break"></span>Medical History</h2>
            </div>
            <div class="box-content">
                <div class="form-group">
                    {{ medical_record_form.has_allergies.label_tag }}
                    {% if medical_record_form.has_allergies.value %}
                        <div>{{ medical_record_form.has_allergies.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ medical_record_form.medicines_taken.label_tag }}
                    {% if medical_record_form.medicines_taken.value %}
                        <div>{{ medical_record_form.medicines_taken.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ medical_record_form.surgical_procedures.label_tag }}
                    {% if medical_record_form.surgical_procedures.value %}
                        <div>{{ medical_record_form.surgical_procedures.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ medical_record_form.receiving_treatments.label_tag }}
                    {% if medical_record_form.receiving_treatments.value %}
                        <div>{{ medical_record_form.receiving_treatments.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ medical_record_form.has_predisposition.label_tag }}
                    {% if medical_record_form.has_predisposition.value %}
                        <div>{{ medical_record_form.has_predisposition.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ medical_record_form.body_weight.label_tag }}
                    <div>{{ medical_record_form.body_weight.value }}</div>
                </div>

                <div class="form-group">
                    {{ medical_record_form.employment_status.label_tag }}
                    <div>{{ medical_record_form | selected_choice:"employment_status" }}</div>
                </div>

                <div class="form-group">
                    {{ medical_record_form.lifestyle_factors.label_tag }}
                    <div>
                        {% for choice_id, choice_label in medical_record_form.lifestyle_factors.field.choices %}
                            {% if choice_id in medical_record_form.initial.lifestyle_factors %}
                                <input type="checkbox" value="{{ choice_id }}" checked disabled> {{ choice_label }}<br>
                            {% else %}
                                <input type="checkbox" value="{{ choice_id }}" disabled> {{ choice_label }}<br>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    {{ medical_record_form.skin_type.label_tag }}
                    <div>{{ medical_record_form | selected_choice:"skin_type" }}</div>
                </div>
            </div>
        </div>
    </div><!--/col-->
</div><!--/row-->

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header" data-original-title>
                <h2><i class="fa fa-list"></i><span class="break"></span>Condition Information</h2>
            </div>
            <div class="box-content">
                <div class="form-group">
                    {{ condition_description_form.description.label_tag }}
                    <div>{{ condition_description_form.description.value }}</div>
                </div>

                <div class="form-group">
                    {{ condition_description_form.symptoms.label_tag }}
                    <div>
                        {% for choice_id, choice_label in condition_description_form.symptoms.field.choices %}
                            {% if choice_id in condition_description_form.initial.symptoms %}
                                <input type="checkbox" value="{{ choice_id }}" checked disabled> {{ choice_label }}<br>
                            {% else %}
                                <input type="checkbox" value="{{ choice_id }}" disabled> {{ choice_label }}<br>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>

                <div class="form-group">
                    {{ condition_description_form.symptoms_severity.label_tag }}
                    <div>{{ condition_description_form.symptoms_severity.value }}</div>
                </div>

                <div class="form-group">
                    {{ condition_description_form.condition_duration_days.label_tag }}
                    <div>{{ condition_description_form.condition_duration_days.value }}</div>
                </div>

                <div class="form-group">
                    {{ condition_description_form.condition_duration_months.label_tag }}
                    <div>{{ condition_description_form.condition_duration_months.value }}</div>
                </div>

                <div class="form-group">
                    {{ condition_description_form.condition_duration_years.label_tag }}
                    <div>{{ condition_description_form.condition_duration_years.value }}</div>
                </div>

                <div class="form-group">
                    {{ condition_description_form.aggravator.label_tag }}
                    {% if condition_description_form.has_predisposition.value %}
                        <div>{{ condition_description_form.has_predisposition.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ condition_description_form.prior_treatment.label_tag }}
                    {% if condition_description_form.prior_treatment.value %}
                        <div>{{ condition_description_form.prior_treatment.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ condition_description_form.suspected_changes.label_tag }}
                    {% if condition_description_form.suspected_changes.value %}
                        <div>{{ condition_description_form.suspected_changes.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>

                <div class="form-group">
                    {{ condition_description_form.additional_information.label_tag }}
                    {% if condition_description_form.additional_information.value %}
                        <div>{{ condition_description_form.additional_information.value }}</div>
                    {% else %}
                        <div>No</div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div><!--/col-->
</div><!--/row-->

<div class="row">
    <div class="col-lg-12">
        <div class="box">
            <div class="box-header" data-original-title>
                <h2><i class="fa fa-camera"></i><span class="break"></span>Photos</h2>
            </div>
            <div class="box-content">
                <div class="row">
                    {% for photo in photos %}
                        <div class="col-sm-6 col-md-3">
                            <div class="thumbnail">
                                <img src="{% url 'photo-proxy' photo_id=photo.id %}" alt="Body part image">
                            </div>
                            <div class="caption">
                                <h3><strong>{{ photo.body_part.name }}</strong></h3>

                                <p>{{ photo.description }}</p>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div><!--/col-->
</div><!--/row-->
						<div class="row">
							<div class="col-lg-12">
								<div class="box">
									<div class="box-header" data-original-title>
										<h2><i class="fa fa-search"></i><span class="break"></span>Pharmacy</h2>
									</div>
									<div class="box-content">
										<div class="row">
											<div class="col-sm-12">
												<h3><b>Pharmacy</b></h3>
												<form method="post" action="{% url 'patient-visit-pharmacy' %}">
													<div class="form-group">
														{% csrf_token %}
														{% if pharmacy %}
															{% include 'auth/common/pharmacy_details.html' %}
														{% endif %}
														<input type="hidden" id="id_preferred_pharmacy_id" name="preferred_pharmacy_id">
														<button type="button" class="btn btn-default" data-toggle="modal"
														        data-target="#pharmacyModal">Choose pharmacy
														</button>
													</div>
												</form>
												{% include 'auth/common/pharmacy_widget.html' %}
											</div>
										</div>
									</div>
								</div>
							</div>
							<!--/col-->
						</div>
						<!--/row-->
						<div id="payment-info" class="container">
							<div class="row">
								<div class="text-center">
									<h1>Payment Confirmation</h1>
								</div>
								<table class="table">
									<thead>
										<tr>
											<th>Service</th>
											<th class="text-center">Price</th>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td class="col-md-10">Online Dermatology Visit</h4></td>
											<td class="col-md-2 text-center">${{base_payment}}</td>
										</tr>
										{% if discount %}
										<tr>
											<td class="col-md-10">Discount '{{discount.code}}'</h4></td>
											<td class="col-md-2 text-center">-${{discount.discount_amount}}</td>
										</tr>
										{% endif %}
										<tr>
											<td class="text-right"><h4><strong>Total: </strong></h4></td>
											<td class="text-center"><h4><strong>${{payment_amount}}</strong></h4></td>
										</tr>
									</tbody>
								</table>
								{% if discount_code_form %}
								<form id="discount" method="post" action="{% url 'patient-visit-discount' %}" class="form-inline" style="margin-bottom: 10px;" >
									{% bootstrap_form discount_code_form layout='inline' %}
									{% csrf_token %}
									<button type="submit" class="btn btn-primary">Add Discount</button>
								</form>
								{% endif %}
								<form id="checkout" method="post" action="{% url 'patient-visit-review' %}">
									{% csrf_token %}
									<div id="dropin"></div>
									<button type="submit" class="btn btn-primary btn-block">Pay and Confirm Visit <span class="glyphicon glyphicon-chevron-right"></span></button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
