{% extends 'auth/base.html' %}

{% block title %}Dashboard{% endblock %}

{% load bootstrap3 %}
{% load filters %}

{% block content %}
	<div class="row">
		<div class="col-sm-12">
			<div class="box">
				<div class="box-header">
					<h2><i class="fa fa-info"></i>Info</h2>
				</div>
				<div class="box-content">Your payment has been received and visit has been confirmed. You will receive an email
					when a provider has reviewed your care details and created a treatment plan.
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<div class="box">
				<div class="box-header">
					<h2><i class="fa fa-info"></i>Visit info</h2>
				</div>
				<div class="box-content">
					<table class="table table-bordered table-striped">
						<tr>
							<td>Visit ID</td>
							<td>{{ visit_id }}</td>
						</tr>
						<tr>
							<td>Date</td>
							<td>{{ date|date:"n/j/Y g:i A e" }}</td>
						</tr>
						<tr>
							<td>Payment Amount</td>
							<td>${{ amount }}</td>
						</tr>
						<tr>
							<td>Payment ID</td>
							<td>{{ transaction_id }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
