{% extends 'auth/base.html' %}

{% block title %}Dashboard{% endblock %}

{% load bootstrap3 %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<div class="box-header">
				<h2><i class="fa fa-edit"></i>Wizard</h2>
				<div class="box-icon">
				</div>
			</div>
			<div class="box-content">
				<div id="MyWizard" class="wizard">
					<ul class="steps">
						<li data-target="#step1" class="active">
							<span class="badge badge-info">1</span>
						</li>
						<li data-target="#step2"><span class="badge">2</span></li>
						<li data-target="#step3"><span class="badge">3</span></li>
						<li data-target="#step4"><span class="badge">4</span></li>
					</ul>
				</div>
				<div class="step-content">
					<div class="step-pane active">
						<p>Before we can talk about your condition, tell us about your medical history.</p>
						<form method="post" action="{% url 'patient-visit-start' %}"
							id="medicalvisit-form"
							data-fv-framework="bootstrap"
							data-fv-icon-valid="glyphicon glyphicon-ok"
							data-fv-icon-invalid="glyphicon glyphicon-remove"
							data-fv-icon-validating="glyphicon glyphicon-refresh">
							{% csrf_token %}
							{% if override %}
								<input type="hidden" name="override" value="{{override}}">
							{% endif%}
							{% bootstrap_form medical_record_form %}
							<button type="submit" class="btn btn-primary">Submit</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<script>
		$(function() {
			$('#medicalvisit-form * textarea:not([required])').each(function(el) {
				var el_name = $(this).attr('name') + '-check';
				var control_div = $(this)
					.wrap('<div class="display-control"></div>')
					.parent()
					.parent();

				var yes_btn = $('<input type="radio" data-fv-notempty data-fv-notempty-message="A choice is required."> Yes </input>')
				.click(function() {
					$(control_div).find('.display-control').show();
					$(this).next('input').attr('checked', false);
				}).attr('name', el_name).attr('value', 'yes');

				var no_btn = $('<input type="radio"> No </input>')
				.click(function() {
					$(control_div).find('.display-control').hide();
					$(control_div).find('textarea').val('');
					$(this).prev('input').attr('checked', false);
				}).attr('name', el_name).attr('value', 'no');

				var btn_control = $('<div class="button-control form-group"></div>')
					.append(yes_btn).append(no_btn);

				var override = {% if override %}true{%else%}false{%endif%};
				if($(this).val() !== '') {
					$(control_div).find('.display-control').show();
					$(yes_btn).attr('checked', true);
				} else if(override) {
					$(control_div).find('.display-control').hide();
					$(no_btn).attr('checked', true);
				} else {
					$(control_div).find('.display-control').hide();
				}


				$(control_div).children('label').after(btn_control);
			}).attr('rows', 2).attr('placeholder', 'Tell us more.');
			$('#medicalvisit-form').formValidation();
		});
	</script>
{% endblock %}
