{% extends 'auth/base.html' %}

{% block title %}Dashboard{% endblock %}

{% load bootstrap3 %}

{% block content %}
<div class="row">
	<div class="col-lg-12">
		<div class="box">
			<div class="box-header">
				<h2><i class="fa fa-edit"></i>Wizard</h2>
				<div class="box-icon">
				</div>
			</div>
			<div class="box-content">
				<div id="MyWizard" class="wizard">
					<ul class="steps">
						<li data-target="#step1" class="complete">
						<a href="{% url 'patient-visit-start' %}"><span class="badge badge-success">1</span></a>
						</li>
						<li data-target="#step2" class="complete">
						<a href="{% url 'patient-visit-condition' %}"><span class="badge badge-success">2</span></a>
						</li>
						<li data-target="#step3" class="active"><span class="badge badge-info">3</span></li>
						<li data-target="#step4"><span class="badge">4</span></li>
					</ul>
				</div>
				<div class="step-content">
					<div class="step-pane active">
						<p>Please upload photos of your condition below. Upload at least one image per affected area. See this guide for instructions on taking good photos.</p>
						<form method="post" action="{% url 'patient-visit-photos' %}"
							id="medicalvisit-form"
							data-fv-framework="bootstrap"
							data-fv-icon-valid="glyphicon glyphicon-ok"
							data-fv-icon-invalid="glyphicon glyphicon-remove"
							data-fv-icon-validating="glyphicon glyphicon-refresh"
							enctype="multipart/form-data">
							{% csrf_token %}
							{% for bodypart,formset in photo_formsets.items %}
								<h3>{{ bodypart.name|capfirst }}</h3>
								{{ formset.management_form }}
								<div class="photo-form-wrapper">
								{% for form in formset %}
									{{ form.non_field_errors }}
									<div class="photo-div">
										<img class="body-part" style='max-height: 200; max-width: 200px; display: none;' src="" alt="" />
										{% bootstrap_form form %}
									</div>
								{% endfor %}
								<button type="button" class="btn add-more-btn" data-prefix="{{ formset.prefix }}">Add more</button>
								</div>
							{% endfor %}
							{% if override %}
								<input type="hidden" name="override" value="{{override}}">
							{% endif%}
							<hr/>
							<button type="submit" class="btn btn-primary">Done</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
	<script>
		$(function() {
			$('#medicalvisit-form').formValidation();
			function readURL(input) {
					if (input.files && input.files[0]) {
							var reader = new FileReader();
							
							reader.onload = function (e) {
									$(input)
										.parents(".photo-div")
										.children("img")
										.attr('src', e.target.result)
										.show();
							}
							
							reader.readAsDataURL(input.files[0]);
					}
			}

			$(":file").change(function(){
					readURL(this);
			});

			$(".add-more-btn").click(function() {
				cloneMore($(this).parents('.photo-form-wrapper').find('.photo-div:last'), $(this).data('prefix'));
			});
		});

		function cloneMore(selector, type) {
			var newElement = $(selector).clone(true);
			var totalElement = $('#id_' + type + '-TOTAL_FORMS');
			var total = totalElement.val();
			newElement.find(':input').each(function() {
				var name = $(this).attr('name').replace('-' + (total-1) + '-','-' + total + '-');
				var id = 'id_' + name;
				$(this).attr({'name': name, 'id': id}).removeAttr('checked');
				if ($(this).attr('type') != 'hidden') {
					$(this).val('');
				}
				$(this).attr('data-fv-field', name);
				$(this).siblings('[data-fv-icon-for]').attr('data-fv-icon-for', name);
				$(this).siblings('[data-fv-for]').attr('data-fv-for', name);
			});
			newElement.find('img').each(function() {
				$(this).attr('src', '').hide();
			});
			newElement.find('label').each(function() {
				var newFor = $(this).attr('for').replace('-' + (total-1) + '-','-' + total + '-');
				$(this).attr('for', newFor);
			});
			total++;
			totalElement.val(total);
			$(selector).after(newElement);

			$('#medicalvisit-form').formValidation('destroy');
			$('#medicalvisit-form').formValidation();
		}
	</script>
{% endblock %}
