{% extends 'auth/provider/provider_base.html' %}

{% block title %}Dashboard{% endblock %}

{% load bootstrap3 %}

{% block content %}
<div class="row">
<div class="col-lg-12">
<div class="box">
<div class="box-header" data-original-title>
<h2><i class="fa fa-user"></i><span class="break"></span>Open Visits</h2>
</div>
<div class="box-content">
<table class="table
	table-striped
	table-bordered
	bootstrap-datatable
	datatable"
	data-order='[[1, "desc"]]'
	data-ordering='false'
	data-paging='false'
	data-searching='false'
	>
<thead>
<tr>
<th>Patient Name</th>
<th>Date Created</th>
<th>Actions</th>
</tr>
</thead>   
<tbody>
{% for visit in visits %}
	<tr>
		<td class="center">{{visit.patient.first_name}} {{visit.patient.last_name}}</td>
		<td class="center">{{visit.created}}</td>
		<td class="center">
			<a class="btn btn-info" href="{% url 'provider-visit' visit_id=visit.id %}">
				<i class="fa fa-edit "></i>  
			</a>
		</td>
	</tr>
{% endfor %}
</tbody>
</table>            
</div>
</div>
</div><!--/col-->

</div><!--/row-->
{% endblock %}
