{% extends 'unauth/base.html' %}

{% load bootstrap3 %}

{% block title %}Log in{% endblock %}

{% block content %}
<form method="post" action="{% url 'django.contrib.auth.views.login' %}">
	{% csrf_token %}
	{% bootstrap_form form %}
  {% buttons %}
    <button type="submit" class="btn btn-primary">
      Submit
    </button>
  {% endbuttons %}
</form>
{% endblock %}
