{% extends 'unauth/base.html' %}

{% block title %}Sign Up Now{% endblock %}

{% block content %}
<div class="container-fluid">
	<form method="post" action="{% url 'signup' %}"
		id="registration-form"
		data-fv-framework="bootstrap"
    data-fv-icon-valid="glyphicon glyphicon-ok"
    data-fv-icon-invalid="glyphicon glyphicon-remove"
    data-fv-icon-validating="glyphicon glyphicon-refresh">
	{% csrf_token %}
	<section class="container">
		<div class="container-page">				
			<div class="col-md-6">
				<h3 class="dark-grey">Registration</h3>
				{{form.non_field_errors}}	
				<div class="form-group col-lg-12 {%if form.username.errors%}has-error{%endif%}">
					<label>Username</label>
					<input type="text" name="username" class="form-control" id=""
					data-fv-notempty="true"
						data-fv-stringlength="true"
						data-fv-stringlength-message="Username must be at least 8 characters."
						data-fv-stringlength-min="8">
					{{form.username.errors}}
				</div>
				
				<div class="form-group col-lg-12 {%if form.email.errors%}has-error{%endif%}">
					<label>Email Address</label>
					<input type="email" name="email" class="form-control" id=""
					data-fv-notempty="true"
					data-fv-emailaddress="true" />
					{{form.email.errors}}
				</div>
				
				<div class="form-group col-lg-12 {%if form.password.errors%}has-error{%endif%}">
					<label>Password</label>
					<input type="password" name="password"
						class="form-control" id="" value=""
						data-fv-notempty="true"
						data-fv-different="true"
						data-fv-different-field="email,username"
						data-fv-stringlength="true"
						data-fv-stringlength-min="8"
						data-fv-stringlength-message="Password must be at least 8 characters."
						data-fv-different-message="Password must be different than username or email.">
					{{form.password.errors}}
				</div>
				
				<div class="col-sm-12 checkbox {%if form.newsletter_signup.errors%}has-error{%endif%}">
					<label>
						<input type="checkbox" class="checkbox" checked="checked" />
						Sign up for our newsletter
					</label>
					{{form.newsletter_signup.errors}}
				</div>
				
				<button type="submit" class="btn btn-primary btn-block">Register Now</button>

			</div>
		
			<div class="col-md-6">
				<h3 class="dark-grey">Get fast and affordable help now</h3>
				<p>
					Sign up now to get a consultation with a board-certified dermatologist. 
				</p>
			</div>
		</div>
	</section>
	</form>
</div>
<script>
$(document).ready(function() {
	$('#registration-form').formValidation();
});
</script>
{% endblock %}
