{% extends 'bootstrap.html' %}

{% load bootstrap3 %}

{% load static from staticfiles %}

{% block bootstrap3_content %}
<!-- start: Mobile Specific -->
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- end: Mobile Specific -->

<!-- start: CSS -->
<link href="{% static "/vendor/simpliq2/assets/css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "/vendor/simpliq2/assets/css/style.min.css" %}" rel="stylesheet">
<link href="{% static "/vendor/simpliq2/assets/css/retina.min.css" %}" rel="stylesheet">
<link href="{% static "/site/css/style.css" %}" rel="stylesheet">
<!-- end: CSS -->

<!-- The HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>

<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js"></script>
<script src="{% static "/vendor/simpliq2/assets/js/respond.min.js" %}"></script>
<script src="{% static "/vendor/simpliq2/assets/css/ie6-8.css" %}"></script>

<![endif]-->

{% block extra_style %}
{% endblock %}

{% block header %}
<header class="navbar">
<div class="container">
<button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".sidebar-nav.nav-collapse">
<span class="icon-bar"></span>
<span class="icon-bar"></span>
<span class="icon-bar"></span>
</button>
<a class="pull-left col-lg-2 col-sm-1 col-xs-12" href="{% url 'home' %}">
	<img src="{% static "/site/img/logo/derma_horizontal_outline.png" %}" style="width:130px;">
</a>
<div class="nav-no-collapse header-nav">
<ul class="nav navbar-nav pull-right">
					<li class="dropdown hidden-xs">
						<a class="btn dropdown-toggle" data-toggle="dropdown" href="index.html#">
							<i class="fa fa-warning"></i>
						</a>
                        <span class="badge badge-notify no-notifications">0</span>
						<ul class="dropdown-menu notifications"></ul>
					</li>
					<li>
						<a class="btn" href="
                        {% if request.user.patientprofile %}
                            {% url 'patient-profile-settings' %}
                        {% else %}
                            {% url 'provider-profile-settings' %}
                        {% endif %}
                        ">
							<i class="fa fa-wrench"></i>
						</a>
					</li>
					<!-- start: User Dropdown -->
					<li class="dropdown">
						<a class="btn account dropdown-toggle" data-toggle="dropdown" href="index.html#">
							<div class="avatar">
								<img src="{% static '/vendor/simpliq2/assets/img/placeholder.png' %}" alt="Avatar">
							</div>
							<div class="user">
								<span class="hello">Welcome!</span>
								<span class="name">
									{% if request.user.patientprofile %}
										{{request.user.patientprofile.first_name}} {{request.user.patientprofile.last_name}}
									{% else %}
										{{request.user.username}}
									{% endif %}
									</span>
							</div>
						</a>
						<ul class="dropdown-menu">
							<li class="dropdown-menu-title">
								
							</li>
							<li><a href="{% url 'logout' %}"><i class="fa fa-off"></i> Logout</a></li>
						</ul>
					</li>
					<!-- end: User Dropdown -->
				</ul>
</div>
</div>	
</header>
{% endblock %}

<div class="container">
<div class="row">
<div id="sidebar-left" class="col-lg-2 col-sm-1">

<div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
<ul class="nav nav-tabs nav-stacked main-menu">
{% block main-menu %}
<li><a href="/home/"><i class="fa fa-user"></i><span class="hidden-sm"> Welcome {{user.first_name}}</span></a></li>	
{% if request.user.providerprofile %}
<li><a href="/provider/dashboard/"><i class="fa fa-bar-chart-o"></i><span class="hidden-sm"> Dashboard</span></a></li>	
{% endif %}
{% endblock %}
</ul>
</div>
</div>

<div id="content" class="col-lg-10 col-sm-11">
{% bootstrap_messages %}
{% block content %}(no content){% endblock %}
</div>
</div>
{% block footer %}
<footer>
<div class="row">
<div class="col-sm-5">
&copy; 2015 dermatology.healthcare
	{% csrf_token %}
</div><!--/.col-->
</div><!--/.row-->	

</footer>
{% endblock %}
<script type="text/javascript">
window.jQuery || document.write("<script src='{% static '/vendor/simpliq2/assets/js/jquery-2.1.0.min.js' %}'>"+"<"+"/script>");
</script>

<script src="{% static "/vendor/simpliq2/assets/js/jquery-migrate-1.2.1.min.js" %}"></script>

<!-- page scripts -->
<script src="{% static "/vendor/simpliq2/assets/js/jquery-ui-1.10.3.custom.min.js" %}"></script>
<script src="{% static "/vendor/simpliq2/assets/js/jquery.sparkline.min.js" %}"></script>
<script src="{% static "/vendor/DataTables-1.10.6/media/js/jquery.dataTables.min.js" %}"></script>
<script src="{% static "/vendor/simpliq2/assets/js/dataTables.bootstrap.min.js" %}"></script>

<!-- theme scripts -->
<script src="{% static "/vendor/simpliq2/assets/js/custom.min.js" %}"></script>
<script src="{% static "/vendor/simpliq2/assets/js/core.min.js" %}"></script>

<!-- inline scripts related to this page -->
<script src="{% static "/vendor/simpliq2/assets/js/pages/table.js" %}"></script>

<!-- image mapster script -->
<script src="{% static "/vendor/imagemapster/js/jquery.imagemapster.js" %}"></script>

<!-- underscore script -->
<script src="{% static "/vendor/underscore/js/underscore-min.js" %}"></script>

<!-- moment.js script -->
<script src="{% static "/vendor/moment/js/moment.min.js" %}"></script>

<!-- notifications script -->
<script type="text/template" id="notificationsTemplate">
<li class="dropdown-menu-title">
	<span>You have <%= notifications.length %> notifications</span>
</li>
<% if (notifications.length) { %>
	<% _.each(notifications, function(notification) { %>
		<li>
			<a href="<%- notification.link ? notification.link : 'javascript:void(0)' %>" class="notification-item" data-id="<%- notification.id %>" target="_blank">
				<span class="icon green"><i class="fa fa-comment"></i></span>
				<span class="message"><%- notification.message %></span>
				<span class="time"><%- moment(notification.created).fromNow() %></span>
			</a>
		</li>
	<% }); %>
	<li class="dropdown-menu-sub-footer">
		<a>View all notifications</a>
	</li>
<% } %>
</script>

<script type="text/javascript">
	$(document).ready(function() {
		$.ajaxSetup({
			beforeSend: function(xhr, settings) {
				if (!this.crossDomain) {
					xhr.setRequestHeader("X-CSRFToken", $('[name=csrfmiddlewaretoken]').val());
				}
			}
		});
		var tmpl = _.template($('#notificationsTemplate').html());
		$.get('{% url 'notifications' %}', function(data) {
            render_notifications(tmpl, data);
		});

		$('body').on('click', '.notification-item', function() {
			$.post('{% url 'notifications' %}/'+$(this).data('id'), function(data) {
                render_notifications(tmpl, data);
			});
		});
	});

    function render_notifications(template, data) {
        var badge = $('.badge-notify');
        badge.text(data.length);
        if (data.length > 0) {
            badge.removeClass('no-notifications');
        } else {
            badge.addClass('no-notifications');
        }
        render_template(template, '.notifications', {'notifications': data});
    }

	function render_template(template, container, data) {
		if (_.isString(template)) {
			template = _.template(template);
		}

		$(container).html(template(data));
	}
</script>

<!-- end: JavaScript-->
{% endblock %}
