{% extends 'unauth/unauth_base.html' %}

{% load static from staticfiles %}

{% block title %}Contract{% endblock %}

{% block content %}
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h2>Contract</h2>
				<p>{{ contract.contract_text }}</p>
			</div>
		</div>
	</div>
{% endblock %}