{% extends 'unauth/unauth_base.html' %}

{% load static from staticfiles %}

{% block title %}Online Dermatology Care - Dermatology.Healthcare{% endblock %}

{% block content %}
    <div class="static-page-image">
        <img src="{% static "/vendor/boomerang/images/backgrounds/full-bg-19.jpg" %}" alt="">
        <div class="description-left">
            <h1 class="title c-base">Dermatologists Online </h1>
            <h2 class="subtitle c-black">Get high quality dermatology care online.</h2>
            <ul class="list-check c-black alpha text-wrapped subtitle">
                <li><i class="fa fa-check c-black"></i>$49 for a complete visit with a dermatologist, including prescriptions.</li>
                <li><i class="fa fa-check c-black"></i>Get a customized treatment plan in under 24 hours, 7 days a week.</li>
                <li><i class="fa fa-check c-black"></i>We treat acne, moles, rosacea, eczema, psoriasis and more.</li>
            </ul>
            <a href="{% url 'patient-signup' %}" class="btn btn-lg btn-base btn-block">Start a Visit Now</a>
        </div>
    </div>

    <!-- MAIN CONTENT -->

    <section class="slice base inset-shadow-1">
        <div class="wp-section">
            <div class="section-title-wr">
                <h3 class="section-title center">
                    <span class="c-white">About us</span>
                </h3>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="c-white text-center">Dermatology Healthcare makes access to dermatologists faster, easier and more convenient than ever.</p>
                        <p class="c-white text-center">Just $49 for a complete visit with a dermatologist, including prescriptions. No insurance needed.</p>
                        <p class="c-white text-center">Get A Customized Treatment Plan In Under 24 Hours, 7 Days A Week. We’ll Send Your Prescriptions Directly To Your Pharmacy.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="slice light-gray bb">
        <div class="wp-section">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="wp-block hero white no-margin">
                            <div class="thmb-img">
                                <i class="fa fa-bolt"></i>
                            </div>

                            <h2>Zero Wait Time</h2>
                            <p class="text-center">No Appointment Needed</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="wp-block hero white no-margin">
                            <div class="thmb-img">
                                <i class="fa fa-dollar"></i>
                            </div>

                            <h2>Just $49</h2>
                            <p class="text-center">No Insurance Needed</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="wp-block hero white no-margin">
                            <div class="thmb-img">
                                <i class="fa fa-user-md"></i>
                            </div>

                            <h2>Customized Treatment Plan</h2>
                            <p class="text-center">Treatments Tailored to You</p>
                        </div>
                    </div>

                    <div class="col-lg-3 col-md-6">
                        <div class="wp-block hero white no-margin">
                            <div class="thmb-img">
                                <i class="fa">℞</i>
                            </div>

                            <h2>All Of Your Prescriptions</h2>
                            <p class="text-center">Save time and money</p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <section class="slice light-gray bb">
        <div class="wp-section">
            <div class="container">
                <div class="section-title-wr mb-40">
                    <h3 class="section-title left">
                        <span>Conditions Treated</span>
                    </h3>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <h4 class="text-center">Acne</h4>
                    </div>

                    <div class="col-md-3 col-sm-3 ">
                        <h4 class="text-center">Rosacea</h4>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <h4 class="text-center">Eczema</h4>
                    </div>

                    <div class="col-md-3 col-sm-3 ">
                        <h4 class="text-center">Psoriasis</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <h4 class="text-center">Male Hair Loss</h4>
                    </div>

                    <div class="col-md-3 col-sm-3 ">
                        <h4 class="text-center">Cold Sores</h4>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <h4 class="text-center">Athlete's Foot</h4>
                    </div>

                    <div class="col-md-3 col-sm-3 ">
                        <h4 class="text-center">Hives</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3 col-sm-3">
                        <h4 class="text-center">Skin Discoloration</h4>
                    </div>

                    <div class="col-md-3 col-sm-3 ">
                        <h4 class="text-center">Scabies</h4>
                    </div>

                    <div class="col-md-3 col-sm-3">
                        <h4 class="text-center">Insect and Tick Bites</h4>
                    </div>

                    <div class="col-md-3 col-sm-3 ">
                        <h4 class="text-center">Ringworm</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <p class="text-center">Our expert dermatologists can help you with a wide variety of skin problems besides the ones listed above. Start a visit now and we'll help you or refer you to someone who can.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
