{% load static from staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="index, follow">
		<title>{% block title %}Online Dermatology Care - Dermatology.Healthcare{% endblock %}</title>

    <!-- Essential styles -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" type="text/css">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.css" media="screen">

    <!-- Boomerang styles -->
    <link id="wpStylesheet" type="text/css" href="{% static "/vendor/boomerang/css/global-style.css" %}" rel="stylesheet" media="screen">


    <!-- Favicon -->
    <link href="{% static '/site/img/favicon.png' %}" rel="icon" type="image/png">

    <!-- Required JS -->
    <script src="//code.jquery.com/jquery.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
</head>
<body>

<!-- MAIN WRAPPER -->
<div class="body-wrap">
    <!-- HEADER -->
    <div id="divHeaderWrapper">
        <header class="header-standard-2">
            <!-- MAIN NAV -->
            <div class="navbar navbar-wp navbar-arrow mega-nav" role="navigation">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <i class="fa fa-bars icon-custom"></i>
                        </button>

                        <a class="navbar-brand" href="/" title="Online Dermatology Care">
                            <img src="{% static "/site/img/logo/derma_horizontal.png" %}" alt="Dermatology.Healthcare for Online Dermatology Care">
                        </a>
                    </div>
                    <div class="navbar-collapse collapse">
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                <a href="{% url 'quality-care' %}">Quality Care</a>
                            </li>
                            <li>
                                <a href="{% url 'how-it-works' %}">How It Works</a>
                            </li>
                            <li>
                                <a href="{% url 'about-us' %}">About</a>
                            </li>
                            <li>
                                <a href="{% url 'login' %}">Login</a>
                            </li>
                            <li class="active">
                                <a href="{% url 'patient-signup'%}" style="background-color:lightgray;">Start Now</a>
                            </li>
                        </ul>

                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </header>
    </div>

		{% block content %}
		{% endblock %}

    <section class="slice p-15 bg-base">
        <div class="cta-wr">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <h1>
                            Ready to start a visit?
                        </h1>
                    </div>
                    <div class="col-md-4">
                        <a class="btn btn-b-white btn-icon fa-check btn-lg pull-right" href="{% url 'patient-signup' %}">
                            <span>Start Now</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- FOOTER -->
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <div class="col">
                        <h4>Contact us</h4>
                        <ul>
                            <li>40 West Gay Street, Columbus, Ohio</li>
                            <li>Phone: 614-686-3627 </li>
                            <li>Email: <a href="mailto:info@Dermatology.Healthcare" title="Email Us">info@Dermatology.Healthcare</a></li>
                        </ul>
                    </div>
                </div>
            </div>

            <hr>

            <div class="row">
                <div class="col-lg-9 copyright">
                    2015 © Dermatology.Healthcare. All rights reserved.
                </div>
            </div>
        </div>
    </footer>
</div>

<!-- Essentials -->
<script src="{% static "/vendor/boomerang/js/modernizr.custom.js" %}"></script>
<script src="{% static "/vendor/boomerang/assets/bootstrap/js/bootstrap.min.js" %}"></script>

<!-- Boomerang App JS -->
<!--[if lt IE 9]>
    <script src="{% static "/vendor/boomerang/js/html5shiv.js" %}"></script>
    <script src="{% static "/vendor/boomerang/js/respond.min.js" %}"></script>
<![endif]-->

</body>
</html>
