<div id="diagnosis-wizard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-lg modal-wizard">
        <div class="modal-content">
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-8">
                        <div id="photoCarousel" class="carousel" data-ride="carousel" data-interval="">
                            <!-- Wrapper for slides -->
                            <div class="carousel-inner" role="listbox">
                                {% for photo in photos %}
                                        <div class="item" data-id="{{ photo.id }}">
                                            <div id='photo_{{ photo.id }}' class="photo-img">
                                                <div class="back"
                                                     style="background-image: url('{% url 'photo-proxy' photo_id=photo.id %}')">
                                                </div>
                                            </div>
                                            <div class="photo-caption">
                                                <div class="rotate-buttons">
                                                    <button id='button-counterclockwise' type='button'
                                                            class='btn btn-primary counterclock'>Rotate Counterclockwise
                                                    </button>
                                                    <button id='button-clockwise' type='button' class='btn btn-primary clock'>
                                                        Rotate Clockwise
                                                    </button>
                                                </div>
                                                <br>

                                                <h3><strong>{{ photo.body_part.name }}</strong></h3>

                                                <p>{{ photo.description }}</p>
                                            </div>
                                        </div>
                                    {% endfor %}
                            </div>

                            <!-- Controls -->
                            <a class="left carousel-control" href="#photoCarousel" role="button"
                               data-slide="prev">
                                <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="right carousel-control" href="#photoCarousel" role="button"
                               data-slide="next">
                                <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <h2>Diagnosis</h2>
                        <input class="typeahead form-control" type="text" placeholder="Diagnosis">
                        <ul class="list-group diagnoses-list">
                            {% for diagnosis in visit.diagnoses.all %}
                                <li class="list-group-item" data-id="{{ diagnosis.pk }}">
                                    <span>{{ diagnosis.name }}</span>
                                    <i class="fa fa-times remove-item"></i>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary submit-diagnoses">Submit Diagnoses</button>
            </div>
        </div>
    </div>
</div>

<style>


       #diagnosis-wizard-modal {
        padding-top: 30px;
        padding-bottom: 30px;
        min-height: 300px;
    }

    .modal-wizard {
        margin: 0 auto;
        transform: none;
        transition: none;
        height: 100%;
    }

    .modal-wizard .modal-header {
        position: relative;
        z-index: 1;
    }

    .modal-wizard .modal-content,
    .modal-wizard .modal-body,
    .modal-wizard .modal-body div {
        height: 100%;
    }

    .modal-wizard .note-editor .modal-body {
        padding: 20px;
        top: 0;
    }

    .modal-wizard .note-editor .modal-footer {
        bottom: 0;
    }

    .modal-wizard .modal-body .education-edit div {
        height: auto !important;
    }

    .modal-wizard .education-edit .note-editor {
        position: absolute;
        top: 31px;
        right: 15px;
        bottom: 15px;
        left: 15px;
    }

    .modal-wizard .education-edit .note-editable {
        position: absolute;
        bottom: 0;
        top: 72px;
        left: 0;
        right: 0;
    }

    .modal-wizard .modal-content {
        border-radius: 0;
    }

    .modal-wizard .modal-body img {
        max-height: 100%;
    }

    .modal-wizard .modal-body {
        top: -51px;
        padding: 61px 15px 62px;
    }

    .modal-wizard .modal-container {
        margin: 0;
    }

    .modal-wizard .modal-body h2 {
        margin-top: 0;
    }

    .modal-wizard .modal-footer {
        margin-top: 0;
        position: relative;
        bottom: 113px;
        padding: 14px 15px 15px;
    }

    .modal-wizard .carousel-control {
        background: none;
    }

    .modal-wizard .photo-img {
        padding-bottom: 105px;
    }

    .modal-wizard .item .photo-caption {
        position: relative;
        height: auto;
        top: -100px;
    }

    .modal-wizard .item .back {
        background-size:100% auto;
        background-repeat: no-repeat;
        background-position: center;
        background-origin: content-box;
        width: 100%;
        height: 114%;
        position: relative;

    }

    .modal-wizard .photo-caption h3,
    .modal-wizard .photo-caption p {
        margin-top: 0;
    }

    #photoCarousel .photo-caption p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #photoCarousel .carousel-control {
        margin-bottom: 65px;
    }

    .modal-wizard .modal-body .dropdown-menu {
        height: inherit;
        width: 100%;
    }

    .modal-wizard .twitter-typeahead {
        width: 100%;
    }

    .modal-wizard .diagnoses-list {
        margin-top: 10px;
    }

    .modal-wizard li.list-group-item {
        border-right: none;
        border-left: none;
        border-top: 0;
        margin: 0;
        border-radius: 0;
    }

    .modal-wizard .list-group-item:last-child {
        margin-bottom: -1px;
    }

    .modal-wizard .list {
        position: absolute;
        top: 70px;
        bottom: 15px;
        overflow-y: auto;
        right: 15px;
        left: 15px;
        margin: 0;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .modal-wizard .list .remove-item {
        float: right;
        margin-top: 2px;
        cursor: pointer;
    }

    .modal-wizard .dropdown-menu li.tt-cursor > a {
        color: #ffffff;
        text-decoration: none;
        background-color: #62bce8;
    }

    .modal-wizard .modal-body .step-title-container {
        height: auto;
    }

    .modal-wizard .half-height {
        height: 50% !important;
        position: relative;
    }

    .modal-wizard .half-height .list {
        top: 31px;
        left: 0;
        right: 0;
    }

    .step-title-container .step-title {
        font-weight: bold;
        display: none;
    }

    .step-title-container .step-title.active {
        display: inline-block;
    }

    .step-body {
        padding-top: 27px;
        top: -27px;
        position: relative;
        display: none;
    }

    .step-body.active {
        display: block;
    }

    .btn.submit {
        display: none;
    }

    .btn.submit.active {
        display: inline-block;
    }

    #photoCarousel .photo-caption p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #photoCarousel .carousel-control {
        margin-bottom: 65px;
    }

    .modal-wizard .modal-body .dropdown-menu {
        height: inherit;
        width: 100%;
    }

    .modal-wizard .twitter-typeahead {
        width: 100%;
    }

    .modal-wizard .diagnoses-list {
        margin-top: 10px;
    }

    .modal-wizard li.list-group-item {
        border-right: none;
        border-left: none;
        border-top: 0;
        margin: 0;
        border-radius: 0;
    }

    .modal-wizard .list-group-item:last-child {
        margin-bottom: -1px;
    }

    .modal-wizard .diagnoses-list {
        position: absolute;
        top: 90px;
        bottom: 10px;
        overflow-y: auto;
        right: 15px;
        left: 15px;
        margin: 0;
        border: 1px solid #ddd;
        border-radius: 4px;
    }

    .modal-wizard .diagnoses-list .remove-item {
        float: right;
        margin-top: 2px;
        cursor: pointer;
    }

    .modal-wizard .dropdown-menu li.tt-cursor>a {
        color:#ffffff;
        text-decoration:none;
        background-color:#62bce8;
    }
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/typeahead.js/0.11.1/typeahead.bundle.js"></script>
<script type="text/template" id="diagnosisItemTemplate">
    <li class="list-group-item" data-id="<%= id %>">
        <span><%= name %></span>
        <i class="fa fa-times remove-item"></i>
    </li>
</script>
<script type="text/javascript">
    $(document).ready(function () {
        var diagnosisItemTmpl = _.template($('#diagnosisItemTemplate').html());
        var body = $('body');
        var diagnoses = [];

        body.on('click', '.photo-thumb', function () {
            var photoId = $(this).data('id');
            $('.item').removeClass('active');
            $('.item[data-id=' + photoId + ']').addClass('active');
            $('#diagnosis-wizard-modal').modal('show');
        });

        var photoElems = $('.carousel-inner');
        if (photoElems.find('.item.active').length == 0) {
            photoElems.find('.item:first').addClass('active');
        }

        var diagnosisDataset = new Bloodhound({
            datumTokenizer: Bloodhound.tokenizers.obj.whitespace('name'),
            queryTokenizer: Bloodhound.tokenizers.whitespace,
            remote: {
                url: '{% url 'autocomplete-diagnosis' %}?q=%QUERY',
                wildcard: '%QUERY',
                transform: function (response) {
                    return _.reject(response.data, function(suggest) {
                        return _.findWhere(diagnoses, suggest);
                    });
                }
            }
        });

        var autocomplete = $('.typeahead');
        autocomplete.typeahead({
            hint: false,
            highlight: true,
            classNames: {
                menu: 'dropdown-menu'
            }
        },{
            name: 'diagnosis',
            display: 'name',
            async: true,
            source: diagnosisDataset,
            templates: {
                suggestion: _.template('<li><a class="menuitem" href="javascript:void(0)"><%= name %></a></li>')
            }
        });
        autocomplete.on('typeahead:select', function (evt, suggest) {
            diagnoses.push(suggest);
            $('.diagnoses-list').append(diagnosisItemTmpl(suggest));
            autocomplete.typeahead('val', '');
        });

        body.on('click', '.diagnoses-list .remove-item', function() {
            var elem = $(this).closest('.list-group-item');
            diagnoses = _.filter(diagnoses, function(suggest) { return suggest.id != elem.data('id'); });
            elem.remove();
        });

        $('.submit-diagnoses').click(function() {
            var diagnoses = _.map($('.diagnoses-list .list-group-item'), function(elem) { return $(elem).data('id'); });
            return $.post('{% url "diagnoses" visit_id=visit.id %}', JSON.stringify(diagnoses), function(data) {
                $('#diagnosis-wizard-modal').modal('hide');
            }, 'json');
        })

        var angle=0;
        $('#button-counterclockwise').on('click', function(event, ui){
        console.log(angle);
        if (angle==-360) {
            angle=0;

        }
        else{
            angle -= 90;
            a = angle + 'deg';
            $(".photo-img").css("transform", "rotate("+ a + ")")
        }

        });
        $('#button-clockwise').on('click', function(event, ui){
        console.log(angle);
        if (angle == 360){
            angle=0;

        }
        else{
            angle += 90;
            a = angle + 'deg';
            $(".photo-img").css("transform", "rotate("+ a + ")").css({'width':'100%', 'height':'100%', 'top':'0px', 'left':'0px', 'right':'0px'})

        }

        });



    });
</script>