{% load filters %}

<html>
<head>
<style>
body {
	font-family: arial;
	font-size: small;
}

.print-page {
	page-break-after: always
}

.form-group {
	  margin-bottom: 10px;
}

table {
	width: 100%;
	border: solid 1px #DDDDDD;
	border-collapse: collapse;
}

tr.ruled > td {
	border-bottom: 1px solid #DDDDDD;
}

td {
	font-size: small;
  padding: 0.3rem 0.5rem;
}
</style>
</head>
<body>
<div class="print-page">
	<h1>Fax</h1>
	<table>
		<thead>
		</thead>
		<tbody>
			<tr>
				<td><strong>To</strong></td>
				<td>{{referral.destination_name}}</td>
				<td><strong>Specialty</strong></td>
				<td>{{referral.specialty}}</td>
			</tr>

			<tr class="ruled">
				<td><strong>Phone</strong></td>
				<td>{{referral.phone}}</td>
				<td><strong>Fax</strong></td>
				<td>{{referral.destination}}</td>
			</tr>

			<tr>
				<td><strong>From</strong></td>
				<td> via Dermatology.Healthcare</td>
				<td></td>
				<td></td>
			</tr>

			<tr class="ruled">
				<td><strong>Phone</strong></td>
				<td></td>
				<td><strong>Fax</strong></td>
				<td></td>
			</tr>

			<tr>
				<td><strong>Subject</strong></td>
				<td>Patient Referral</td>
				<td><strong>Pages</strong></td>
				<td>3</td>
			</tr>
			<tr>
				<td><strong>Date</strong></td>
				<td>{% now 'M d Y' %}</td>
				<td><strong>Time</strong></td>
				<td>{% now 'G:i T' %}</td>
			</tr>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
	<p>This was sent via Dermatology.Healthcare. If you're a dermatologist interested in seeing more patients in an efficient way, sign up for an account today.</p>
</div>
<div>
	<h1>Referral Information</h1>
	<h3>Message</h3>
	<p>{{referral.text}}</p>
	<h3>Patient Details</h3>
	<table>
		<thead>
		</thead>
		<tbody>
			<tr>
				<td><strong>Patient Name</strong></td>
				<td>{{visit.patient.first_name}} {{visit.patient.middle_name}} {{visit.patient.last_name}}</td>
				<td><strong>DOB</strong></td>
				<td>{{visit.patient.birth_date}}</td>
			</tr>

			<tr>
				<td><strong>Gender</strong></td>
				<td>{{visit.patient.gender}}</td>
				<td><strong>Phone Number</strong></td>
				<td>{{visit.patient.phone}}</td>
			</tr>

			<tr>
				<td><strong>Email</strong></td>
				<td>{{visit.patient.email}}</td>
				<td><strong>Address</strong></td>
				<td>{{visit.patient.mail_one}} {{visit.patient.mail_two}} {{visit.patient.city}}, {{visit.patient.state}} {{visit.patient.zipcode}}</td>
			</tr>
		</tbody>
		<tfoot>
		</tfoot>
	</table>
	<h3>Encounter Transcript</h3>
	<div class="box-content print-page">
			<div class="form-group">
				{{ medical_record_form.has_allergies.label_tag }}
				{% if medical_record_form.has_allergies.value %}
					<div>{{medical_record_form.has_allergies.value}}</div>
				{% else %}
					<div>No</div>
				{% endif %}
			</div>
			
			<div class="form-group">
			{{ medical_record_form.medicines_taken.label_tag }}
			{% if medical_record_form.medicines_taken.value %}
				<div>{{ medical_record_form.medicines_taken.value}}</div>
			{% else %}
				<div>No</div>
			{% endif %}
			</div>

			<div class="form-group">
			{{ medical_record_form.surgical_procedures.label_tag }}
			{% if medical_record_form.surgical_procedures.value %}
				<div>{{ medical_record_form.surgical_procedures.value}}</div>
			{% else %}
				<div>No</div>
			{% endif %}
			</div>
			
			<div class="form-group">
			{{ medical_record_form.receiving_treatments.label_tag }}
			{% if medical_record_form.receiving_treatments.value %}
				<div>{{ medical_record_form.receiving_treatments.value}}</div>
			{% else %}
				<div>No</div>
			{% endif %}
			</div>
			
			<div class="form-group">
			{{ medical_record_form.has_predisposition.label_tag }}
			{% if medical_record_form.has_predisposition.value %}
				<div>{{medical_record_form.has_predisposition.value}}</div>
			{% else %}
				<div>No</div>
			{% endif %}
			</div>
			
			<div class="form-group">
			{{ medical_record_form.body_weight.label_tag }}
			<div>{{ medical_record_form.body_weight.value }}</div>
			</div>
			
			<div class="form-group">
			{{ medical_record_form.employment_status.label_tag }}
			<div>{{ medical_record_form | selected_choice:"employment_status" }}</div>
			</div>
			
			<div class="form-group">
			{{ medical_record_form.lifestyle_factors.label_tag }}
			<div>
			{% for choice_id, choice_label in medical_record_form.lifestyle_factors.field.choices %}
				{% if choice_id in medical_record_form.initial.lifestyle_factors %}
					<input type="checkbox" value="{{choice_id}}" checked disabled> {{choice_label}}<br>
				{% else %}
					<input type="checkbox" value="{{choice_id}}" disabled> {{choice_label}}<br>
				{% endif %}
			{% endfor %}
			</div>
			</div>

			<div class="form-group">
			{{ medical_record_form.skin_type.label_tag }}
			<div>{{ medical_record_form | selected_choice:"skin_type" }}</div>
			</div>
	</div>
<div class="box-content">
		<div class="form-group">
		{{ condition_description_form.description.label_tag }}
		<div>{{condition_description_form.description.value}}</div>
		</div>
		
		<div class="form-group">
		{{ condition_description_form.symptoms.label_tag }}
		<div>
		{% for choice_id, choice_label in condition_description_form.symptoms.field.choices %}
			{% if choice_id in condition_description_form.initial.symptoms %}
				<input type="checkbox" value="{{choice_id}}" checked disabled> {{choice_label}}<br>
			{% else %}
				<input type="checkbox" value="{{choice_id}}" disabled> {{choice_label}}<br>
			{% endif %}
		{% endfor %}
		</div>
		</div>
		
		<div class="form-group">
		{{ condition_description_form.symptoms_severity.label_tag }}
		<div>{{ condition_description_form.symptoms_severity.value }}</div>
		</div>
		
		<div class="form-group">
		{{ condition_description_form.condition_duration_days.label_tag }}
		<div>{{ condition_description_form.condition_duration_days.value }}</div>
		</div>

		<div class="form-group">
		{{ condition_description_form.condition_duration_months.label_tag }}
		<div>{{ condition_description_form.condition_duration_months.value }}</div>
		</div>

		<div class="form-group">
		{{ condition_description_form.condition_duration_years.label_tag }}
		<div>{{ condition_description_form.condition_duration_years.value }}</div>
		</div>

		<div class="form-group">
		{{ condition_description_form.aggravator.label_tag }}
		{% if condition_description_form.has_predisposition.value %}
			<div>{{condition_description_form.has_predisposition.value}}</div>
		{% else %}
			<div>No</div>
		{% endif %}
		</div>
		
		<div class="form-group">
		{{ condition_description_form.prior_treatment.label_tag }}
		{% if condition_description_form.prior_treatment.value %}
			<div>{{condition_description_form.prior_treatment.value}}</div>
		{% else %}
			<div>No</div>
		{% endif %}
		</div>
		
		<div class="form-group">
		{{ condition_description_form.suspected_changes.label_tag }}
		{% if condition_description_form.suspected_changes.value %}
			<div>{{condition_description_form.suspected_changes.value}}</div>
		{% else %}
			<div>No</div>
		{% endif %}
		</div>

		<div class="form-group">
		{{ condition_description_form.additional_information.label_tag }}
		{% if condition_description_form.additional_information.value %}
			<div>{{condition_description_form.additional_information.value}}</div>
		{% else %}
			<div>No</div>
		{% endif %}
		</div>

		<div class="form-group">
		{{ condition_description_form.affected_body_parts.label_tag }}
		</div>
</div>
</div>
</body>
</html>
