{% load bootstrap3 %}

<script>
$(document).ready(function() {
	$('#referral-form').formValidation();

	$('#referral-form')
		.children('.required')
		.children('label')
		.append('<span> *</span>');
});
</script>

<div id="referral-wizard-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
		<div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Write a Referral</h4>
      </div>
      <div class="modal-body">
				<p>Starred fields are required.</p>
				<form method="post" action="{% url 'provider-visit-fax-referral' visit_id=visit.id %}"
					id="referral-form"
					data-fv-framework="bootstrap"
					data-fv-icon-valid="glyphicon glyphicon-ok"
					data-fv-icon-invalid="glyphicon glyphicon-remove"
					data-fv-icon-validating="glyphicon glyphicon-refresh"
					enctype="multipart/form-data">
					{% csrf_token %}
					{% bootstrap_form referral_form %}
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Generate</button>
				</form>
      </div>
		</div>
  </div>
</div>
