{% extends 'auth/patient/patient_base.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h3>Welcome, {{user.patientprofile.first_name}}</h3>

{% if active_visit.get_status == 'confirmed' %}
<p>You've submitted your visit details.</p>
<a class="btn btn-primary" href="{% url 'patient-visit' visit_id=active_visit.id %}">View Visit</a>
<a type="submit" class="btn btn-primary"
	href="{% url 'patient-visit-status' visit_id=active_visit.id %}">
	View Visit Details
</a>
{% else %}
<a type="submit" class="btn btn-primary" href="{% url 'patient-visit-start' %}">
	Start a Visit
</a>
{% endif %}
{% endblock %}
