{% extends 'auth/patient/patient_base.html' %}
{% load bootstrap3 %}

{% block title %}Pharmacy Search{% endblock %}

{% block content %}
<h3>Pharmacy Search</h3>

<form method="get" action="{% url 'patient-pharmacy-search' %}">
    {% bootstrap_form_errors pharmacy_search_form %}
	{% bootstrap_form pharmacy_search_form %}
	<button type="submit" class="btn btn-primary">Search</button>
</form>

{% endblock %}
