{% extends 'auth/base.html' %}

{% load bootstrap3 %}

{% block page_head %}
<script>
$(function () {
	$("#id_birth_date").datepicker();
	$("div.required > label").append(' <small class="text-muted">Required</small>');
});
</script>
{% endblock %}

{% block extra_style %}
	<style>
		.checkbox.agree {
			margin: 0 -20px 0 0;
		}

		.has-error {
			color: #a94442;
		}
    
        .contract.checkbox {
            padding-left: 0;
        }
	</style>
{% endblock %}

{% block title %}Patient Registration{% endblock %}

{% block content %}
<div class="container-fluid">
	<p>Congratulations on creating your account! Before beginning your initial visit, you will need to complete your patient profile. This step will only need to be done once, and we will save your information for future visits. If you need to update your information, you can edit your patient profile at any time.</p>
	<form method="post" action="{% url 'patient-setup' %}"
		id="patientdetails-form"
		data-fv-framework="bootstrap"
    data-fv-icon-valid="glyphicon glyphicon-ok"
    data-fv-icon-invalid="glyphicon glyphicon-remove"
    data-fv-icon-validating="glyphicon glyphicon-refresh">
		{% csrf_token %}
		{% for field in profile_form %}
			{% if field.html_name == 'contract_agree' %}
				<div class="contract checkbox {%if field.errors%}has-error{%endif%}">
					<label>
						<input type="checkbox" checked="checked"
							name="{{ field.html_name }}" class="agree" />
						I agree with <a class="btn-link" href="{% url 'contract' pk=profile_form.contract.value %}" target="_blank">contract</a>
					</label>
					{{field.errors}}
				</div>
			{% elif field.html_name == 'contract' %}
				{{ field.as_hidden }}
			{% else %}
				{% bootstrap_field field %}
			{% endif %}
		{% endfor %}
		<button type="submit" class="btn btn-primary">Submit</button>
	</form>
</div>
<script>
function checkAreaCode(value, validator) {
	var valid_area_codes = [201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 212, 213, 214, 215, 216, 217, 218, 219, 224, 225, 226, 228, 229, 231, 234, 239, 240, 242, 246, 248, 250, 251, 252, 253, 254, 256, 260, 262, 264, 267, 268, 269, 270, 276, 281, 284, 289, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 323, 325, 330, 331, 334, 336, 337, 339, 340, 343, 345, 347, 351, 352, 360, 361, 385, 386, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 412, 413, 414, 415, 416, 417, 418, 419, 423, 424, 425, 430, 432, 434, 435, 438, 440, 441, 442, 443, 450, 456, 458, 469, 470, 473, 475, 478, 479, 480, 484, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 512, 513, 514, 515, 516, 517, 518, 519, 520, 530, 533, 534, 539, 540, 541, 551, 559, 561, 562, 563, 567, 570, 571, 573, 574, 575, 579, 580, 581, 585, 586, 587, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 612, 613, 614, 615, 616, 617, 618, 619, 620, 623, 626, 630, 631, 636, 641, 646, 647, 649, 650, 651, 657, 660, 661, 662, 664, 669, 670, 671, 678, 681, 682, 684, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 712, 713, 714, 715, 716, 717, 718, 719, 720, 724, 727, 731, 732, 734, 740, 747, 754, 757, 758, 760, 762, 763, 765, 767, 769, 770, 772, 773, 774, 775, 778, 779, 780, 781, 784, 785, 786, 787, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 812, 813, 814, 815, 816, 817, 818, 819, 828, 829, 830, 831, 832, 843, 845, 847, 848, 849, 850, 855, 856, 857, 858, 859, 860, 862, 863, 864, 865, 866, 867, 868, 869, 870, 872, 876, 877, 878, 888, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 912, 913, 914, 915, 916, 917, 918, 919, 920, 925, 928, 931, 936, 937, 938, 939, 940, 941, 947, 949, 951, 952, 954, 956, 970, 971, 972, 973, 978, 979, 980, 985, 989];

	var val = parseInt(value.substr(0,3));

	return valid_area_codes.indexOf(val) > -1;
};

$(document).ready(function() {
	$('#patientdetails-form').formValidation();
});
</script>
{% endblock %}
