{% extends 'bootstrap3/bootstrap3.html' %}

{% load static from staticfiles %}

{% block bootstrap3_extra_head %}
<link rel="apple-touch-icon" sizes="57x57" href="{% static "/favicons/apple-touch-icon-57x57.png" %}">
<link rel="apple-touch-icon" sizes="60x60" href="{% static "/favicons/apple-touch-icon-60x60.png" %}">
<link rel="apple-touch-icon" sizes="72x72" href="{% static "/favicons/apple-touch-icon-72x72.png" %}">
<link rel="apple-touch-icon" sizes="76x76" href="{% static "/favicons/apple-touch-icon-76x76.png" %}">
<link rel="apple-touch-icon" sizes="114x114" href="{% static "/favicons/apple-touch-icon-114x114.png" %}">
<link rel="apple-touch-icon" sizes="120x120" href="{% static "/favicons/apple-touch-icon-120x120.png" %}">
<link rel="apple-touch-icon" sizes="144x144" href="{% static "/favicons/apple-touch-icon-144x144.png" %}">
<link rel="apple-touch-icon" sizes="152x152" href="{% static "/favicons/apple-touch-icon-152x152.png" %}">
<link rel="apple-touch-icon" sizes="180x180" href="{% static "/favicons/apple-touch-icon-180x180.png" %}">
<link rel="icon" type="image/png" href="{% static "/favicons/favicon-32x32.png" %}" sizes="32x32">
<link rel="icon" type="image/png" href="{% static "/favicons/favicon-194x194.png" %}" sizes="194x194">
<link rel="icon" type="image/png" href="{% static "/favicons/favicon-96x96.png" %}" sizes="96x96">
<link rel="icon" type="image/png" href="{% static "/favicons/android-chrome-192x192.png" %}" sizes="192x192">
<link rel="icon" type="image/png" href="{% static "/favicons/favicon-16x16.png" %}" sizes="16x16">
<link rel="manifest" href="{% static "/favicons/manifest.json" %}">
<meta name="apple-mobile-web-app-title" content="Online Dermatology">
<meta name="application-name" content="Online Dermatology">
<meta name="msapplication-TileColor" content="#00aba9">
<meta name="msapplication-TileImage" content="{% static "/favicons/mstile-144x144.png" %}">
<meta name="theme-color" content="#ffffff">

<link rel="stylesheet" href="{% static "/vendor/formvalidation/dist/css/formValidation.min.css" %}">
<script src="{% static "/vendor/formvalidation/dist/js/formValidation.min.js" %}"></script>
<script src="{% static "/vendor/formvalidation/dist/js/framework/bootstrap.min.js" %}"></script>
<script src="{% static "/vendor/formvalidation/dist/js/language/en_US.js" %}"></script>
<script src="{% static "/vendor/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" %}"></script>
<link rel="stylesheet" href="{% static "/vendor/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" %}">
<style>
.form-control-feedback {
	right: 15px;
}
</style>

{% block page_head %}
{% endblock %}

{% endblock %}

{% block bootstrap3_title %}{% block title %}{% endblock %}{% endblock %}
